{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}
<!-- cart item area start -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> About us</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="about-page">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <div class="about-page-content">
            <h3>{{about_list.heading}}</h3>
            <p>
          {{about_list.description}}
            </p>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <div class="about-img">
            <img src="{{about_list.imageURL}}" alt="" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
    <div class="team-member">
      <div class="row">
        <div class="col-md-12">
          <div class="team-title">
            <h3>meet the team</h3>
          </div>
        </div>
      </div>
      <div class="row">
        {% for team in team_list %}
        <div class="col-md-3 hidden-sm">
          <div class="single-member">
            <div class="member-info">
              <img src="{{team.imageURL}}" alt="" />
              <div class="member-social-profile">
                <a href="{{team.fb_link}}" target="_blank"> <i class="fa fa-facebook"></i> </a>
                <a href="{{team.twitter_link}}" target="_blank"> <i class="fa fa-twitter"></i> </a>
              </div>
            </div>
            <h3>{{team.name}}</h3>
            <p>{{team.post}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- cart item area end -->

{% include 'store/footer.html' %}
{% endblock %}
