{% load static %}
<!-- banner area start -->
<div class="banner-area">
  <div class="single-banner">
    <div class="part-1">
      <div class="box-1 box">
        <h4>nike ari max 2015</h4>
        <h2>air superiority</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <a href="#">shopping now</a>
      </div>
      <div class="box-2">
        <a href="#">
          <img src="{% static 'store/img/banner/banner-2.jpg' %}" alt="" />
        </a>
      </div>
    </div>
    <div class="part-2">
      <div class="search-box">
        <form action="{% url 'searchbar' %}" method="GET">
          <input type="text" value="{{request.GET.query}}" name="query" placeholder="Search..."/>
          <button type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <div class="box-3">
        <a href="#">
          <img src="{% static 'store/img/banner/banner-1.jpg' %}" alt="" />
        </a>
      </div>
      <div class="box-4 box">
        <h4>nike ari max 2015</h4>
        <h2>air superiority</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <a href="#">shopping now</a>
      </div>
      <div class="box-5">
        <a href="#">
          <img src="{% static 'store/img/banner/banner-3.jpg' %}" alt="" />
        </a>
      </div>
      <div class="box-6">
        <a href="#">
          <img src="{% static 'store/img/banner/banner-4.jpg' %}" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
<!-- banner area end -->
