{% load static %}

<!-- blog area start -->
<div class="blog-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-heading">
          <h2>From <strong> The Blog</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="blog-post">
          <div class="single-blog-post">
            <div class="blog-img">
              <a href="blog-details.html">
                <img src="img/blog/1.jpg" alt="" />
              </a>
            </div>
            <div class="blog-content">
              <a href="blog-details.html" class="blog-title"
                >Lorem ipsum dolor sit amet</a
              >
              <span
                ><a href="#">By plaza themes - </a>17 Aug 2015 ( 0 comments
                )</span
              >
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore magna...
              </p>
              <a href="blog-details.html" class="readmore">read more ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog area end -->

<!-- newsleter area start -->
<div class="newsleter-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="newsleter">
          <h3>newsletter</h3>
          <p>
            Subscribe to the james mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
          <div class="Subscribe">
            <form action="#">
              <input type="text" title="Sign up" />
              <button type="submit" title="Subscribe">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="follow">
          <h3>follow</h3>
          <p>
            Subscribe to the james mailing list to receive updates on new
            arrivals, special offers and other discount information.
          </p>
          <ul class="follow-link">
            <li>
              <a href="#"> <i class="fa fa-facebook"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-rss"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-twitter"></i> </a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-google-plus"></i> </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- newsleter area end -->
