{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

{% if request.session.cart|length < 1 %}

<div class="container-fluid mt-100" max-height="500">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <h2>Cart</h2>
              </div>
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3><strong>Your Cart is Empty</strong></h3>
                      <h4>Add something to make me happy :)</h4> <a href="{% url 'shop' %}" class="btn btn-danger cart-btn-transform" margin-bottom="50" data-abc="true">continue shopping</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<style>
.card-body .empty-cart-cls .btn{
  margin-bottom: 50px;
} 
</style>

{% else %}

{% load cart_tag %}
<!-- cart item area start -->
<div class="shopping-cart"
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="index.html" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> Shopping cart</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-bordered table table-hover">
            <thead>
              <tr>
                <th class="cart-item-img">Image</th>
                <th class="cart-product-name">Product Name</th>     
                <th class="unit-price">Unit Price</th>
                <th class="quantity">Qty</th>
                <th class="subtotal">Subtotal</th>
                <th class="edit">Action</th>
              </tr>
            </thead>
            <tbody class="text-center">
            {% for key,value in request.session.cart.items %}
              <tr>
                <td class="cart-item-img">
                  <a href="single-product.html">
                    <img src="{{value.image}}" alt="" width='200' height='150'/>
                  </a>
                </td>
                <td class="cart-product-name">
                  <a href="single-product.html">{{value.name}}</a>
                </td>
               

                <td class="unit-price">
                  <span>${{value.price}}</span>
                </td>
                <td class="quantity">
                  <span>  
                  <div class="quantity buttons_added mt-2"></a>
                    <a class="btn" role="button" href="{% url 'item_decrement' value.product_id %}"><input type="submit" value="-" class="minus ml-2"></a>
                    <input type="number1"  step="1" min="1" max="" name="quantity" value="{{value.quantity}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" >
                    <a class="btn" role="button" href="{% url 'item_increment' value.product_id %}"><input type="submit" value="+" class="plus"></a>
                  </div>
                </span>
                  <!-- <div class="cart_quantity_button">
                    <a href="" class="cart_quantity_up"> + </a>
                    <input type="text" class="cart_plus_minus_box" name="qtybutton" value="1"/>
                    <a href="" class="cart_quantity_down"> - </a>
                  </div> -->
                </td>
                <!-- <td class="quantity">
                  <span>{{value.quantity}}</span>
                </td> -->
                <td class="subtotal">
                  <span>${{ value.price | multiply:value.quantity }}</span>
                </td>
                <td class="edit">
                  <!-- <a href="#">Edit</a>
                  <br> -->
                  <a href="{% url 'item_clear' key %}">Delete</a>
                </td>
              </tr>
            {% endfor %}

            </tbody>
          </table>
          <!-- <div class="shopping-button">
            <div class="continue-shopping">
              <button type="submit">continue shopping</button>
            </div>
            <div class="shopping-cart-left">
              <a href="{% url 'cart_clear' %}"><button type="button" class="btn btn-danger">Clear Shopping Cart</button></a>
              <button type="submit">Update Shopping Cart</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-sm-4">
        <div class="discount-code">
          <h3>Discount Codes</h3>
          <p>Enter your coupon code if you have one.</p>
          <input type="text" />
          <div class="shopping-button">
            <button type="submit">apply coupon</button>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-sm-4">
        <div class="estimate-shipping">
          <h3>Estimate Shipping and Tax</h3>
          <p>Enter your destination to get a shipping estimate.</p>
          <form action="#">
            <div class="form-box">
              <div class="form-name">
                <label> country <em>*</em> </label>
                <select>
                  <option value="1">Afghanistan</option>
                  <option value="1">Algeria</option>
                  <option value="1">American Samoa</option>
                  <option value="1">Australia</option>
                  <option value="1">Bangladesh</option>
                  <option value="1">Belgium</option>
                  <option value="1">Bosnia and Herzegovina</option>
                  <option value="1">Chile</option>
                  <option value="1">China</option>
                  <option value="1">Egypt</option>
                  <option value="1">Finland</option>
                  <option value="1">France</option>
                  <option value="1">United State</option>
                </select>
              </div>
            </div>
            <div class="form-box">
              <div class="form-name">
                <label> State/Province </label>
                <select>
                  <option value="1">
                    Please select region, state or province
                  </option>
                  <option value="1">Arizona</option>
                  <option value="1">Armed Forces Africa</option>
                  <option value="1">California</option>
                  <option value="1">Florida</option>
                  <option value="1">Indiana</option>
                  <option value="1">Marshall Islands</option>
                  <option value="1">Minnesota</option>
                  <option value="1">New Mexico</option>
                  <option value="1">Utah</option>
                  <option value="1">Virgin Islands</option>
                  <option value="1">West Virginia</option>
                  <option value="1">Wyoming</option>
                </select>
              </div>
            </div>
            <div class="form-box">
              <div class="form-name">
                <label> Zip/Postal Code </label>
                <input type="text" />
              </div>
            </div>
            <div class="shopping-button">
              <button type="submit">get a quote</button>
            </div>
          </form>
        </div>
      </div> -->
      <div class="col-sm-4">
        <div class="totals">
          <h3>subtotal:<span>${{cart_total_amount}}</span></h3>
          <!-- <h3>Shipping Charge:<span>$50</span></h3> -->
          <br>
          
          <h3>Grand Total:<span>${{cart_total_amount}}</span></h3>
          <div class="shopping-button">
            <a href="{% url 'checkout' %}"><button type="button" class="btn btn-danger">Proceed to checkout</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cart item area end -->
{% endif %}
{% include 'store/footer.html' %}
{% endblock %}
