{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}
{% load cart_tag %}
<!-- checkout area start -->
<div class="checkout-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="index.html" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> checkout</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="single-sidebar-content">
              {% for category in category_list %}
              <ul>
                <!-- <li><a href="{% url 'shop' %}?category={{category.sub_title}}">{{category.sub_title}}</a></li> -->
                <li><a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a></li>
              </ul>
              {% endfor %}
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Color</h3>
            </div>
            <div class="single-sidebar-content">
              <ul class = "list-unstyled">
                {% for color in colors %}
                <li>
                  <a href="{% url 'shop' %}?color={{color.title}}"><button class="btn" style="background-color: {{color.code}}"></button>({{color.title}})</a>
                  <!-- <input class="filter-checkbox" value="{{color.color__id}}" type="checkbox" data-filter="color" />&nbsp; -->
                  <!-- <a href="{% url 'shop' %}?color={{color.title}}" >
                    </a> -->
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="banner-left">
            <a href="#">
              <img src="img/product/banner_left.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="checkout-heading">
          <h2>Checkout</h2>
        </div>
        <form method="post" action="{% url 'placeorder' %}">
          {% csrf_token %}
        <div class="checkout-accordion">
          <div
            class="panel-group"
            id="accordion"
            role="tablist"
            aria-multiselectable="true"
          >
           
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Step 1: Account & Billing Details
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div
                id="collapseTwo"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingTwo"
              >
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="account-details">
                        <h4>Your Personal Details</h4>
                        <div class="form-box">
                          <div class="form-name">
                            <label>First Name <em>*</em> </label>
                            <input type="text" value="{{user.first_name}}" name="firstname" placeholder="First Name" readonly />
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>Last Name <em>*</em> </label>
                            <input type="text" value="{{user.last_name}}" name="lastname" placeholder="Last Name" readonly />
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>E-mail <em>*</em> </label>
                            <input type="email" value="{{user.email}}" name="email" placeholder="E-mail" readonly />
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label>Telephone <em>*</em> </label>
                            <input type="number" placeholder="Telephone" name="phone" />
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="checkout-collapse">
                        <h4>Your Address</h4>
                        <div class="form-box">
                          <div class="form-name">
                            <label>Address <em>*</em> </label>
                            <input type="text" name="address" placeholder="Address" />
                          </div>
                        </div>
         
                        <div class="form-box">
                          <div class="form-name">
                            <label>City <em>*</em> </label>
                            <input type="text" name="city" placeholder="City" />
                          </div>
                        </div>
                        <!-- <div class="form-box">
                          <div class="form-name">
                            <label>Post Code <em>*</em> </label>
                            <input type="text" placeholder="Post Code" />
                          </div>
                        </div> -->
                        <div class="form-box">
                          <div class="form-name">
                            <label> country <em>*</em> </label>
                            <input type="text" name="country" placeholder="Your country">
                            <!-- <select name="country">
                              <option value="1">---Please select---</option>
                              <option value="1">Nepal</option>
                              <option value="1">Algeria</option>
                              <option value="1">American Samoa</option>
                              <option value="1">Australia</option>
                              <option value="1">Bangladesh</option>
                              <option value="1">Belgium</option>
                              <option value="1">Bosnia and Herzegovina</option>
                              <option value="1">Chile</option>
                              <option value="1">China</option>
                              <option value="1">Egypt</option>
                              <option value="1">Finland</option>
                              <option value="1">France</option>
                              <option value="1">United State</option>
                            </select> -->
                          </div>
                        </div>
                        <div class="form-box">
                          <div class="form-name">
                            <label> State/Province <em>*</em> </label>
                           <input type="text" name="state_province" placeholder="Your State or Province">  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a
                    class="collapsed"
                    role="button"
                    data-toggle="collapse"
                    data-parent="#accordion"
                    href="#collapseSix"
                    aria-expanded="false"
                    aria-controls="collapseSix"
                  >
                    Step 2: Confirm Order
                    <i class="fa fa-caret-down"></i>
                  </a>
                </h4>
              </div>
              <div
                id="collapseSix"
                class="panel-collapse collapse"
                role="tabpanel"
                aria-labelledby="headingSix"
              >
                <div class="panel-body">
                  <div class="confirm-order">
                    <div class="table-responsive">
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Product Name</th>
                            <!-- <th>Model</th> -->
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for key,value in request.session.cart.items %}
                          <tr>
                            <td>
                              {{value.name}}
                            </td>
                            <!-- <td>Product 14</td> -->
                            <td>{{value.quantity}}</td>
                            <td>रु {{value.price}}</td>
                            <td>रु {{ value.price | multiply:value.quantity }}</td>
                          </tr>
                          {% endfor %}
            
                        </tbody>
                        <tfoot>
                          <tr>
                            <td class="text-right" colspan="4">
                              <strong>Grand-Total:</strong>
                            </td>
                            <td>रु<input type="number"  class="form-control" value ="{{cart_total_amount}}" name="amount" readonly/></td>
                          </tr>
                          <!-- <tr>
                            <td class="text-right" colspan="4">
                              <strong>Flat Shipping Rate:</strong>
                            </td>
                            <td>$5.00</td>
                          </tr> -->
                          <!-- <tr>
                            <td class="text-right" colspan="4">
                              <strong>Flat Shipping Rate:</strong>
                            </td>
                            <td>$5.00</td>
                          </tr> -->
                        </tfoot>
                      </table>
                    </div>
                    <a href=""><button type="submit" class="check-button">Confirm Order</button></a>
                    <!-- <button type="submit" value="Continue" class="check-button"> -->
                      
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- checkout area end -->
{% include 'store/footer.html' %}
{% endblock %}
