{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

<!-- contact area start -->
<div class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> contact</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                {% for category in category_list %}
                <li><a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Color</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                {% for color in colors %}
                <li>
                  <a href="{% url 'shop' %}?color={{color.title}}"><button class="btn" style="background-color: {{color.code}}"></button>({{color.title}})
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="contact-info">       
          <div class="contact-details">
            <div class="contact-title">
              <h3>contact us</h3>
            </div>
            <div class="contact-form">  
              <form method="POST" action="{% url 'contact' %}" enctype="multipart/form-data" id ="post-form" autocomplete="off"> <!--history hatna off garya-->
                {% csrf_token %}              
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control form-control-lg form-control-a" placeholder="Your Name" required id="name">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-lg form-control-a" placeholder="Your Email" required id="email">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="number" name="telephone" class="form-control form-control-lg form-control-a" placeholder="Your Telephone" required id="telephone">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="comment" cols="45" rows="8" placeholder="Message" required id="message"></textarea>
                    </div>
                  </div>
                 
                </div>
                <div class=" text-center">
                  <button type="submit" class="btn btn-danger">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <script>
  $(document).on('submit','#post-form',function(e){
    e.preventDefault(); //stpos the page from refreshing
    e.stopImmediatePropagation();
    $.ajax({
      type:'POST',
      url:'/contact',
      data: {
           name:$('#name').val(),
           email:$('#email').val(),
           subject:$('#telephone').val(),
           message:$('#comment').val(),
           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(){
            alert("Messaged Successfully");
            $("#name").val(''); //yo 4ta chai after form submission clear the input 
            $("#email").val('');
            $("#telephone").val('');
            $("#comment").val('');
      },
    });
  });

</script> -->


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Sent successfully!!</p>
      </div>
    </div>
  </div>
</div> -->

{% include 'store/footer.html' %}
{% endblock %}
