<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-heading">
                    <h2>Your Cart Item</h2>
                </div>
                <div class="empty-text-contant text-center">
                    <i class="fas fa-shopping-cart"></i>
                    <h3>There are no more items in your cart!!</h3>
                    <a href="{% url 'shop' %}"><button type="button" class="btn btn-danger">Continue Shopping</button></a>
                </div>
            </div>
        </div>
    </div>
</div>