{% load static %}

<!-- footer top area start -->
<div class="footer-top-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="footer-contact">
          <img src="img/logo-white.png" alt="" />
          <p>
            {{company.short_description}}
          </p>
          <ul class="address">
            <li>
              <span class="fa fa-fax"></span>
             {{company.phone}}
            </li>
            <li>
              <span class="fa fa-phone"></span>
              {{company.phone}}
            </li>
            <li>
              <span class="fa fa-envelope-o"></span>
             {{company.email}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="footer-tweets">
          <div class="footer-title">
            <h3>Latest tweets</h3>
          </div>
          <div class="twitter-feed">
            <div class="twitter-article">
              <div class="twitter-img">
                <a href="#">
                  <img src="img/twitter/twitter-1.png" alt="" />
                </a>
              </div>
              <div class="twitter-text">
                <p>
                  Raboda Fashion #Magento #Theme comes up with pure white and
                  grey, which great show your products. Check it:
                </p>
                <a href="#">https://t.co/iu0OYBwti8</a>
                <div class="twitter-time">
                  <a href="#">16h</a>
                </div>
              </div>
            </div>
            <div class="twitter-article">
              <div class="twitter-img">
                <a href="#">
                  <img src="img/twitter/twitter-1.png" alt="" />
                </a>
              </div>
              <div class="twitter-text">
                <p>
                  Raboda Fashion #Magento #Theme comes up with pure white and
                  grey, which great show your products. Check it:
                </p>
                <a href="#">https://t.co/iu0OYBwti8</a>
                <div class="twitter-time">
                  <a href="#">16h</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="footer-support">
          <div class="footer-title">
            <h3>Our support</h3>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <!-- <li><a href="#">Your Account</a></li> -->
              <li><a href="#">Advanced Search</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="footer-info">
          <div class="footer-title">
            <h3>Our information</h3>
          </div>
          <div class="footer-menu">
            <ul>
              <li><a href="{% url 'about_us' %}">About Us</a></li>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer top area end -->

<!-- footer area start -->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-copyright">
          <p>
            Copyright &copy; 2016 <a href="#"> Bootexperts</a>. All Rights
            Reserved
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="payment-icon">
          <img src="img/payment.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <a href="#" id="scrollUp"><i class="fa fa fa-arrow-up"></i></a>
</footer>
<!-- footer area end -->
