{% load static %}
<!-- header area start -->
<header>
  <div class="top-link">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-3 col-sm-9 hidden-xs">
          <div class="call-support">
            <p>Call support free: <span>{{company.phone}}</span></p>

          </div>
         
        </div>
        <div class="col-md-4 col-sm-3">
          <div class="dashboard">
            <div class="account-menu">
              <ul>
                <li>
                  <a href="#">
                    <i class="fa fa-bars"></i>
                  </a>
                  <ul>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                    
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'cart_detail' %}">Cart</a></li>
                    <li><a href="{% url 'wishlist' %}"> Wishlist</a></li>
                  </ul>
                </li>
               
              </ul>
            </div>
            {% load cart_tag %}

            <div class="cart-menu">
              <ul>
                <li>
                  <a href="{% url 'cart_detail' %}">
                    <img src="{% static 'store/img/icon-cart.png' %}" alt="" />
                    <span>{{request.session.cart|length}}</span>
                  </a>
                  <div class="cart-info">
                    <ul>
                    {% if request.session.cart|length < 1 %}
                      <div class="container-fluid mt-100" max-height="500">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h2>Cart</h2>
                                    </div>
                                    <div class="card-body cart">
                                        <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                            <h3><strong>Your Cart is Empty</strong></h3>
                                            <h4>Add something to make me happy :)</h4> <a href="{% url 'shop' %}" class="btn btn-danger cart-btn-transform" margin-bottom="50" data-abc="true">continue shopping</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    {% else %}


                    {% for key,value in request.session.cart.items %}
                      <li>
                        <div class="cart-img">
                         
                          <img
                            src="{{value.image}}"
                            alt=""
                          />
                        </div>
                        <div class="cart-details">
                          <a href="#">{{value.name}}</a>
                          <p>{{value.quantity}} x ${{value.price}}</p>
                        </div>
                        <!-- <div class="btn-edit">
                          <a href=""><i class="fas fa-edit"></i></a>
                        </div> -->
                        <div class="btn-remove">
                          <a href="{% url 'item_clear' key %}"><i class="fas fa-times"></i></a>
                        </div>
                      </li>
                      {% endfor %}

                      {% endif %}
                    </ul>
                    <!-- <h3>Subtotal: <span> $951.00</span></h3> -->
                    <a href="{% url 'checkout' %}" class="checkout">checkout</a>
                    <a href="{% url 'cart_detail' %}" class="checkout">cart</a>
                  </div>
                </li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mainmenu-area product-items">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="logo">
            <a href="{% url 'home' %}">
              <img src="{% static 'store/img/logo.png' %}" alt="" />
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="mainmenu">
            <nav>
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% for category in category_list %}
                <li class="mega-women">
                  <a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a>
                  <!-- <div class="mega-menu women">
                    <div class="part-1">
                      <span>
                        <a href="{% url 'shop' %}?category={{category.sub_title}}">{{category.sub_title}}</a>
                        <a href="{% url 'shop' %}?category={{category.item_name}}">{{category.item_name}}</a>
                      </span>
                    </div>
                  </div> -->
                </li>
                {% endfor %}

                <li>
                  <a href="#">Pages</a>
                  <div class="sub-menu pages">
                    <span>
                      <a href="{% url 'about_us' %}">About us</a>
                    </span>
                    <span>
                      <a href="{% url 'blog' %}">Blog</a>
                    </span>
                    <span>
                      <a href="{% url 'blog_detail' %}">Blog Details</a>
                    </span>

                    <span>
                      <a href="{% url 'checkout' %}">Checkout</a>
                    </span>
                    <span>
                      <a href="{% url 'contact' %}">Contact</a>
                    </span>
                
                    <span>
                      <a href="{% url 'shop' %}">Shop</a>
                    </span>
                 
                    <span>
                      <a href="{% url 'login' %}">Login page</a>
                    </span>
                    <span>
                      <a href="{% url 'register' %}">Register page</a>
                    </span>
                  
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>



        <div class="col-sm-12">
          <div class="mobile-menu">
            <nav>
              <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% for category in category_list %}
                <li class="mega-women">
                  <a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a>
                </li>
                {% endfor %}
              
               
                
                
                <li>
                  <a href="#">Pages</a>
                  <ul>
                    <li><a href="{% url 'about_us' %}">About us</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <!-- <li><a href="my-account.html">My account</a></li> -->
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <!-- <li><a href="shop-list.html">Shop list</a></li> -->
                    <!-- <li><a href="single-product.html">Single Shop</a></li> -->
                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                    <li><a href="{% url 'login' %}">login page</a></li>
                    <li><a href="{% url 'register' %}">register page</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area end -->
<style>
  .cart-info .cart-img img{
    height: 50px;
    width: 50px;
  }
</style>
