<!DOCTYPE HTML>
{% load static %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Home || James </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <!-- favicon
        ============================================ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'store//img/favicon.ico' %}">

        <!-- Google Fonts
        ============================================ -->
        <link href='https://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- All css -->

        <!-- Bootstrap CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
        <!-- Bootstrap CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/font-awesome.min.css' %}">
        <!-- owl.carousel CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/owl.transitions.css' %}">
        <!-- jquery-ui CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/jquery-ui.css' %}">
        <!-- meanmenu CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/meanmenu.min.css' %}">
        <!-- nivoslider CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/lib/css/nivo-slider.css' %}">
        <link rel="stylesheet" href="{% static 'store/lib/css/preview.css' %}">
        <!-- animate CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/animate.css' %}">
        <!-- magic CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/magic.css' %}">
        <!-- normalize CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/normalize.css' %}">
        <!-- main CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/main.css' %}">
        <!-- style CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
        <!-- responsive CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'store/css/responsive.css' %}">


        <!-- modernizr JS
        ============================================ -->
        <script src="{% static 'store/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible show" role="alert">
            <strong>Message: </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %} 
        {% endif %}      


        {% block content %}



        {% endblock %}
        <style>
            .alert{
                margin-bottom: 0;
            }
        </style>


        <!-- jquery
        ============================================ -->
        <script src="{% static 'store/js/vendor/jquery-1.12.1.min.js' %}"></script>
        <!-- bootstrap JS
        ============================================ -->
        <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
        <!-- wow JS
        ============================================ -->
        <script src="{% static 'store/js/wow.min.js' %}"></script>
        <!-- price-slider JS
        ============================================ -->
        <script src="{% static 'store/js/jquery-price-slider.js' %}"></script>
        <!-- nivoslider JS
        ============================================ -->
        <script src="{% static 'store/lib/js/jquery.nivo.slider.js' %}"></script>
        <script src="{% static 'store/lib/home.js' %}"></script>
        <!-- meanmenu JS
        ============================================ -->
        <script src="{% static 'store/js/jquery.meanmenu.js' %}"></script>
        <!-- owl.carousel JS
        ============================================ -->
        <script src="{% static 'store/js/owl.carousel.min.js' %}"></script>
        <!-- elevatezoom JS
        ============================================ -->
        <script src="{% static 'store/js/jquery.elevatezoom.js' %}"></script>
        <!-- scrollUp JS
        ============================================ -->
        <script src="{% static 'store/js/jquery.scrollUp.min.js' %}"></script>
        <!-- plugins JS
        ============================================ -->
        <script src="{% static 'store/js/plugins.js' %}"></script>
        <!-- main JS
        ============================================ -->
        <script src="{% static 'store/js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    </body>
</html>
