
{% load static %}


<!-- new products area start -->
<div class="new-products-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>NEW PRODUCTS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="new-product-slider">
        {% for product in new_products %}
        <div class="col-md-12">
          <div class="single-product">
            <div class="level-pro">
              
            </div>
            <div class="product-img">
              <a href="{% url 'single_product' product.id %}">
                <img
                  src="{{product.imageURL}}"
                  alt=""
                  class="primary-img"
                />
                <img src="{{product.imageURL}}" alt="" class="secondary-img" />
              </a>
            </div>
            <div class="product-name">
              <a href="{% url 'single_product' product.id %}"
                >{{product.name}}</a
              >
            </div>
            <div class="price-rating">
              <!-- <span class="old-price">$700.00</span> -->
              <span>${{product.price}}</span>
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </div>
            </div>
            <div class="actions">
              <button type="button" class="cart-btn" data-toggle="modal" data-target="#exampleModal-Cart-{{product.id}}">Add to Cart
              </button>
              <ul class="add-to-link">
                <li>
                  <button
                    class="modal-view"
                    data-target="#productModal-{{product.id}}"
                    data-toggle="modal"
                  >
                  <i class="fas fa-eye"></i></button>
                </li>
                <li>
                  <form action="{% url 'home' %}" method="POST"> 
                    {% csrf_token %} 
                   <button type ="submit" class="shadow-none"><i class="fa fa-heart-o "></i></button>
                  </form>
                </li>
                <li>
                  <button> <i class="fa fa-refresh"></i></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- new products area end -->

 <!-- quickview product start -->
 {% for product in product_list %}
 <div id="quickview-wrapper">
   <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
           <div class="modal-content">
               <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               </div>
               <div class="modal-body">
                   <div class="modal-product">
                       <div class="product-images">
                           <div class="main-image images">
                               <img alt="" src="{{product.imageURL}}">
                           </div>
                       </div>

                       <div class="product-info">
                           <h1>{{product.name}}</h1>
                           <div class="price-box">
                               <p class="price"><span class="special-price"><span class="amount">$132.00</span></span></p>
                           </div>
                           <a href="shop.html" class="see-all">See all features</a>
                           <div class="quick-add-to-cart">
                               <form method="post" class="cart">
                                   <div class="numbers-row">
                                       <input type="number" id="french-hens" value="3">
                                   </div>
                                   <button class="single_add_to_cart_button" type="submit">Add to cart</button>
                               </form>
                           </div>
                           <div class="quick-desc">
                               <p>{{product.description}}</p>
                           </div>
                           <div class="share-post">
                               <div class="share-title">
                                   <h3>share this product</h3>
                               </div>
                               <div class="share-social">
                                   <ul>
                                       <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                       <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                       <li><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                                       <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                       <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div> 
{% endfor %}
<!-- quickview product start -->
        <!-- quickview product start -->
        {% for product in product_list %}
        <div id="quickview-wrapper">
          <!-- Modal -->
          <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                          <div class="modal-product">
                              <div class="product-images">
                                  <div class="main-image images">
                                      <img alt="" src="{{product.imageURL}}">
                                  </div>
                              </div>

                              <div class="product-info">
                                  <h1>{{product.name}}</h1>
                                  <div class="price-box">
                                      <p class="price"><span class="special-price"><span class="amount">${{product.price}}</span></span></p>
                                  </div>
                                 
                                  <div class="quick-add-to-cart mb-4">      
                                          <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a>
                                  </div>     
                                </div>
                                <br>
                                  <div class="quick-desc">
                                      <p>{{product.description |truncatewords:50}}</p>  <!--50 word matra aauxa limited words gareko-->
                                  </div>
                                  <div class="share-post">
                                      <div class="share-title">
                                          <h3>share this product</h3>
                                      </div>
                                      <div class="share-social">
                                          <ul>
                                              <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
    {% for product in product_list %}
      <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal-Cart-{{product.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <img src="{{product.imageURL}}" alt="">
                    <br>         
                     <div class="text-center">
                      <h3>{{product.name}}</h3>
                       <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a></div>

                     
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}

