{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

{% if request.session.cart|length < 1 %}

<div class="container-fluid mt-100" max-height="500">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <h2>Cart</h2>
              </div>
              <div class="card-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                      <h3><strong>Your Cart is Empty</strong></h3>
                      <h4>Add something to make me happy :)</h4> <a href="{% url 'shop' %}" class="btn btn-danger cart-btn-transform" margin-bottom="50" data-abc="true">continue shopping</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<style>
.card-body .empty-cart-cls .btn{
  margin-bottom: 50px;
} 
</style>

{% else %}

{% load cart_tag %}
<!-- cart item area start -->
<div class="shopping-cart"
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
            <h2 class="text-center">Your Order</h2>
          <!-- <ul>
            <li><strong> Your Orders</strong></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table-bordered table table-hover">
            <thead>
              <tr>
                <th class="cart-item-img">Image</th>
                <th class="cart-product-name">Product Name</th>     
                <th class="unit-price">Unit Price</th>
                <th class="quantity">Qty</th>
                <th class="subtotal">Subtotal</th>
                
              </tr>
            </thead>
            <tbody class="text-center">
            {% for key,value in request.session.cart.items %}
              <tr>
                <td class="cart-item-img">
                  <a href="single-product.html">
                    <img src="{{value.image}}" alt="" width='200' height='150'/>
                  </a>
                </td>
                <td class="cart-product-name">
                  <a href="single-product.html">{{value.name}}</a>
                </td>
               

                <td class="unit-price">
                  <span>${{value.price}}</span>
                </td>
                <td class="quantity">
                <span>   
                  <div class="quantity buttons_added mt-2"></a>
                    <input type="number1"  step="1" min="1" max="" name="quantity" value="{{value.quantity}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="" readonly >
                  </div>
                </span>
                  <!-- <div class="cart_quantity_button">
                    <a href="" class="cart_quantity_up"> + </a>
                    <input type="text" class="cart_plus_minus_box" name="qtybutton" value="1"/>
                    <a href="" class="cart_quantity_down"> - </a>
                  </div> -->
                </td>
                <!-- <td class="quantity">
                  <span>{{value.quantity}}</span>
                </td> -->
                <td class="subtotal">
                  <span>${{ value.price | multiply:value.quantity }}</span>
                </td>
               
              </tr>
            {% endfor %}

            </tbody>
          </table>
          <div class="shopping-button">
            <div class="continue-shopping">
                <a href="{% url 'thankyou' %}"><button type="button" class="btn btn-danger">Place Order</button></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="totals">
          <h3>subtotal:<span>${{cart_total_amount}}</span></h3>
          <br>          
          <h3>Grand Total:<span>${{cart_total_amount}}</span></h3>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cart item area end -->
{% endif %}
{% include 'store/footer.html' %}
{% endblock %}
