{% load static %}
<!-- products area start -->
<div class="products-area">
  <div class="container">
    <div class="products">
      <div class="row">
        <div class="col-md-3">
          <div class="product-menu">
            <div class="menu-title">
              <h2>Best seller <strong>Products</strong></h2>
            </div>
            <div class="side-menu">
              <!-- Nav tabs -->
              <ul class="tab-navigation" role="tablist">
                {% for category in category_list %}
                <li role="presentation">
                  <a
                    href="{% url 'shop' %}?category={{category.title}}"
                    aria-controls="tab1"
                    role="tab"
                    data-toggle="tab"
                    >{{category.title}}</a
                  >
                </li>
                {% endfor %}
                <li><img src="{% static 'store/img/banner/banner-5.jpg' %}" alt="" /></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                <div class="product-slider">
                  {% for product in product_list %}
                  <div class="col-md-12">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <div class="single-product">

                      <div class="level-pro">
                
                      </div>
                      <div class="product-img">
                        <a href="{% url 'single_product' product.id %}">
                          <img
                            src="{{product.imageURL}}"
                            alt=""
                            class="primary-img"
                          />
                          <img
                            src="{{product.imageURL}}"
                            alt=""
                            class="secondary-img"
                          />
                        </a>
                      </div>
                      <div class="product-name">
                        <a href="{% url 'single_product' product.id %}" title="Fusce aliquam"
                          >{{product.name}}</a
                        >
                      </div>
                      <div class="price-rating">
                        <span>${{product.price}}</span>
                        <div class="ratings">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </div>
                      </div>
                      <div class="actions">
                        <button type="button" class="cart-btn" data-toggle="modal" data-target="#exampleModal-Cart-{{product.id}}">Add to Cart</button>
                        </button>
                        <ul class="add-to-link">
                          <li>
                            <button
                              class="modal-view"
                              data-target="#productModal-{{product.id}}"
                              data-toggle="modal"
                            ><i class="fas fa-eye"></i>
                          </button>
                          </li>
                          
                            <li>
                            
                            
                              <form action="{% url 'home' %}" method="POST"> 
                                {% csrf_token %} 
                               <button type ="submit" class="shadow-none"><i class="fa fa-heart-o "></i></button>
                              </form>
                            </li>
                          
                          
                          <li>
                            <button><i class="fa fa-refresh"></i></a></button>
                          </li>
                        </ul>
                      </div>
                    </div> 
                  </div>
                  </form>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- products area end -->
<div class=" text-center mt-4">
    <a href="{% url 'shop' %}"><button type="button" class="btn btn-danger mr-0">View all</button></a>
  </div>

<!-- products area end -->
               <!-- quickview product start -->
{% for product in product_list %}
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                  <div class="modal-product">
                      <div class="product-images">
                          <div class="main-image images">
                              <img alt="" src="{{product.imageURL}}">
                          </div>
                      </div>

                      <div class="product-info">
                          <h1>{{product.name}}</h1>
                          <div class="price-box">
                              <p class="price"><span class="special-price"><span class="amount">${{product.price}}</span></span></p>
                          </div>
                         
                          <div class="quick-add-to-cart mb-4">      
                                  <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a>
                          </div>     
                        </div>
                        <br>
                          <div class="quick-desc">
                              <p>{{product.description |truncatewords:50}}</p>  <!--50 word matra aauxa limited words gareko-->
                          </div>
                          <div class="share-post">
                              <div class="share-title">
                                  <h3>share this product</h3>
                              </div>
                              <div class="share-social">
                                  <ul>
                                      <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                      <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endfor %}
{% for product in product_list %}
<div id="quickview-wrapper">
<!-- Modal -->
<div class="modal fade" id="exampleModal-Cart-{{product.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <img src="{{product.imageURL}}" alt="">
            <br>         
             <div class="text-center">
              <h3>{{product.name}}</h3>
               <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a></div>

             
          </div>
      </div>
  </div>
</div>
</div>
{% endfor %}