{% load static %}

<!-- quickview product start -->
<div id="quickview-wrapper">
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-product">
            <div class="product-images">
              <div class="main-image images">
                <img alt="" src="img/product/quick-view.jpg" />
              </div>
            </div>

            <div class="product-info">
              <h1>Diam quis cursus</h1>
              <div class="price-box">
                <p class="price">
                  <span class="special-price"
                    ><span class="amount">$132.00</span></span
                  >
                </p>
              </div>
              <a href="shop.html" class="see-all">See all features</a>
              <div class="quick-add-to-cart">
                <form method="post" class="cart">
                  <div class="numbers-row">
                    <input type="number" id="french-hens" value="3" />
                  </div>
                  <button class="single_add_to_cart_button" type="submit">
                    Add to cart
                  </button>
                </form>
              </div>
              <div class="quick-desc">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                  fringilla augue nec est tristique auctor. Donec non est at
                  libero vulputate rutrum. Morbi ornare lectus quis justo
                  gravida semper. Nulla tellus mi, vulputate adipiscing cursus
                  eu, suscipit id nulla.
                </p>
              </div>
              <div class="share-post">
                <div class="share-title">
                  <h3>share this product</h3>
                </div>
                <div class="share-social">
                  <ul>
                    <li>
                      <a href="#"> <i class="fa fa-facebook"></i> </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-twitter"></i> </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-pinterest"></i> </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-google-plus"></i> </a>
                    </li>
                    <li>
                      <a href="#"> <i class="fa fa-linkedin"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- quickview product start -->
