{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a href="index.html" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong>Register page</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please Register using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form action="{% url 'register' %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="username" placeholder="Username">
                                <input type="text" name="first_name" placeholder="First Name">
                                <input type="text" name="last_name" placeholder="Last Name">
                                <input name="email" placeholder="Email" type="email">
                                <input type="password" name="pass1" placeholder="Password">
                                <input type="password" name="pass2" placeholder="Confirm Password">
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'store/footer.html' %}
{% endblock %}