{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}


<!-- product main items area start -->
<div class="product-main-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> Search Results</strong></li>
          </ul>
        </div>
      </div>
    </div>    
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> shop</strong></li>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="single-sidebar-content">
              {% for category in category_list %}
              <ul>
                <!-- <li><a href="{% url 'shop' %}?category={{category.sub_title}}">{{category.sub_title}}</a></li> -->
                <li><a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a></li>
              </ul>
              {% endfor %}
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Color</h3>
            </div>
            <div class="single-sidebar-content">
              <ul class = "list-unstyled">
                {% for color in colors %}
                <li>
                  <a href="{% url 'shop' %}?color={{color.title}}"><button class="btn" style="background-color: {{color.code}}"></button>({{color.title}})</a>
                  <!-- <input class="filter-checkbox" value="{{color.color__id}}" type="checkbox" data-filter="color" />&nbsp; -->
                  <!-- <a href="{% url 'shop' %}?color={{color.title}}" >
                    </a> -->
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- <div class="single-sidebar price">
            <div class="single-sidebar-title">
              <h3>Price</h3>
            </div>
            <div class="single-sidebar-content">
              <div class="price-range">
                <div class="price-filter">
                  <div id="slider-range"></div>
                  <div class="price-slider-amount">
                    <input
                      type="text"
                      id="amount"
                      name="price"
                      placeholder="Add Your Price"
                    />
                  </div>
                </div>
                <button type="submit"><span>search</span></button>
              </div>
            </div>
          </div> -->
          <div class="banner-left">
            <a href="#">
              <img src="{% static 'store/img/product/banner_left.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="product-content">
            <div class="tab-content">
            {% if products.exists %} 
              <div
                role="tabpanel"
                class="tab-pane active fade in home2"
                id="gird"
              >
              {% for product in products %}
                <div class="col-lg-4 col-sm-6">
                  <div class="single-product">
                  
                    <!-- <div class="level-pro-new">
                      <span>new</span>
                    </div> -->
                    
                    <div class="product-img">
                      
                      <a href="{% url 'single_product' product.id %}">
                        <img
                          src="{{product.imageURL}}"
                          alt=""
                          class="primary-img"
                        />
                        <img
                        src="{{product.imageURL}}"
                        alt=""
                        class="secondary-img"
                      />
                      </a>

                    </div>
                    <div class="actions">
                      <button
                        type="submit"
                        class="cart-btn"
                        title="Add to cart"
                      >
                        add to cart
                      </button>
                      <ul class="add-to-link">
                        <li>
                          <a
                            class="modal-view"
                            data-target="#productModal"
                            data-toggle="modal"
                            href="#"
                          >
                            <i class="fa fa-search"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#"> <i class="fa fa-heart-o"></i></a>
                        </li>
                        <li>
                          <a href="#"> <i class="fa fa-refresh"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="product-price">
                      <div class="product-name">
                        <a href="{% url 'single_product' product.id %}" title="Fusce aliquam"
                          >{{product.name}}</a
                        >
                      </div>
                      <div class="price-rating">
                        <span>${{product.price}}</span>
                        <div class="ratings">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              {% endfor %}
              </div>
              {% else %}
              <p>No Products available</p>
            {% endif %} 



              <!-- yo kaa ko ho??? -->
              <div role="tabpanel" class="tab-pane fade home2" id="list">
                <div class="product-catagory">
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/1.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/6.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/3.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/4.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/5.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- product main items area end -->

{% include 'store/footer.html' %}
{% endblock %}
