{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

<script type="text/javascript" src = "{% static 'product-filter.js' %}"></script>

<div class="product-banner">
  <img src="img/product/banner.jpg" alt="" />
</div>

<!-- product main items area start -->
<div class="product-main-items">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> shop</strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="single-sidebar-content">
              {% for category in category_list %}
              <ul>
                <!-- <li><a href="{% url 'shop' %}?category={{category.sub_title}}">{{category.sub_title}}</a></li> -->
                <li><a href="{% url 'shop' %}?category={{category.title}}">{{category.title}}</a></li>
              </ul>
              {% endfor %}
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Color</h3>
            </div>
            <div class="single-sidebar-content">
              <ul class = "list-unstyled">
                {% for color in colors %}
                <li>
                  <a href="{% url 'shop' %}?color={{color.title}}"><button class="btn" style="background-color: {{color.code}}"></button>({{color.title}})</a>
                  <!-- <input class="filter-checkbox" value="{{color.color__id}}" type="checkbox" data-filter="color" />&nbsp; -->
                  <!-- <a href="{% url 'shop' %}?color={{color.title}}" >
                    </a> -->
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="banner-left">
            <a href="#">
              <img src="{% static 'store/img/product/banner_left.jpg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="product-bar">

          <!-- <div class="sort-by">
            <label>Sort By</label>
            <select id="my_selection">
              <option vlaue="" href="{% url 'shop' %}{% for i in product_list %}?name={{i.id}} {% endfor %}">NAME</option>
              <option value="" href="{% url 'shop' %}{% for i in product_list %}?price={{i.id}} {% endfor %}">PRICE</option>
              <option value="" href="{% url 'shop' %}{% for i in product_list %}?new={{i.id}} {% endfor %}">NEW</option>
              <option value="" href="{% url 'shop' %}{% for i in product_list %}?old={{i.id}} {% endfor %}">OLD</option>
            </select>
          </div> -->
          <!-- <script>
          document.getElementById('my_selection').onchange = function() {
              window.location.href = this.children[this.selectedIndex].getAttribute('href');
          }
          </script> -->
        </div>
        <div class="row">
          <div class="product-content">
            <div class="tab-content">
             
              <div
                role="tabpanel"
                class="tab-pane active fade in home2"
                id="gird"
              >
              {% for product in page_obj.object_list %}
                <div class="col-lg-4 col-sm-6">
                  <div class="single-product">
                
                    
                    <div class="product-img">
                      
                      <a href="{% url 'single_product' product.id %}">
                        <img
                          src="{{product.imageURL}}"
                          alt=""
                          class="primary-img"
                        />
                        <img
                        src="{{product.imageURL}}"
                        alt=""
                        class="secondary-img"
                      />
                      </a>

                    </div>
                    <div class="actions">
                      <button type="button" class="cart-btn" data-toggle="modal" data-target="#exampleModal-Cart-{{product.id}}">Add to Cart</button>
                      <ul class="add-to-link">
                        <li>
                          <a
                            class="modal-view"
                            data-target="#productModal-{{product.id}}"
                            data-toggle="modal"
                            href=""
                          ><i class="fas fa-eye"></i>
                         </a>
                        </li>
                        <li>
                          <a href="#"> <i class="fa fa-heart-o"></i></a>
                        </li>
                        <li>
                          <a href="#"> <i class="fa fa-refresh"></i></a>
                        </li>
                      </ul>
                    </div>
                    <div class="product-price">
                      <div class="product-name">
                        <a href="{% url 'single_product' product.id %}" title="Fusce aliquam"
                          >{{product.name}}</a
                        >
                      </div>
                      <div class="price-rating">
                        <span>${{product.price}}</span>
                        <div class="ratings">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              {% endfor %}
              </div>



              <!-- yo kaa ko ho??? -->
              <div role="tabpanel" class="tab-pane fade home2" id="list">
                <div class="product-catagory">
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/1.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/6.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/3.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/4.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="single-list-product">
                    <div class="col-sm-4">
                      <div class="list-product-img">
                        <a href="single-product.html">
                          <img src="img/product/5.png" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="list-product-info">
                        <a href="single-product.html" class="list-product-name">
                          Cras neque metus</a
                        >
                        <div class="price-rating">
                          <span class="old-price">$700.00</span>
                          <span>$800.00</span>
                          <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <a href="#" class="review">1 Review(s)</a>
                            <a href="#" class="add-review">Add Your Review</a>
                          </div>
                        </div>
                        <div class="list-product-details">
                          <p>
                            Nunc facilisis sagittis ullamcorper. Proin lectus
                            ipsum, gravida et mattis vulputate, tristique ut
                            lectus. Sed et lorem nunc. Vestibulum ante ipsum
                            primis in faucibus orci luctus et ultrices posuere
                            cubilia Curae; Aenean eleifend laoreet congue.
                            Vivamus adipiscing nisl ut dolor dignissim semper.
                            Nul <a href="single-product.html">Learn More</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12 text-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  {%if page_obj.has_previous %} 
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
                  {% endif %}
                </li>
                <li class="page-item"><a class="page-link">{{page_obj.number}}</a></li>
                <li class="page-item">
                  {%if page_obj.has_next %}
                  <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
            <!-- <div class="toolbar-bottom">
              <ul>
                <li><span>Pages:</span></li>
                <li class="current"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#">
                    <img src="img/product/pager_arrow_right.gif" alt="" />
                  </a>
                </li>
              </ul>
            </div> -->
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- product main items area end -->

        <!-- quickview product start -->
        {% for product in product_list %}
        <div id="quickview-wrapper">
          <!-- Modal -->
          <div class="modal fade" id="productModal-{{product.id}}" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                          <div class="modal-product">
                              <div class="product-images">
                                  <div class="main-image images">
                                      <img alt="" src="{{product.imageURL}}">
                                  </div>
                              </div>

                              <div class="product-info">
                                  <h1>{{product.name}}</h1>
                                  <div class="price-box">
                                      <p class="price"><span class="special-price"><span class="amount">${{product.price}}</span></span></p>
                                  </div>
                                 
                                  <div class="quick-add-to-cart mb-4">      
                                          <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a>
                                  </div>     
                                </div>
                                <br>
                                  <div class="quick-desc">
                                      <p>{{product.description |truncatewords:50}}</p>  <!--50 word matra aauxa limited words gareko-->
                                  </div>
                                  <div class="share-post">
                                      <div class="share-title">
                                          <h3>share this product</h3>
                                      </div>
                                      <div class="share-social">
                                          <ul>
                                              <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                                              <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
    {% for product in product_list %}
      <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal-Cart-{{product.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <img src="{{product.imageURL}}" alt="">
                    <br>         
                     <div class="text-center">
                      <h3>{{product.name}}</h3>
                       <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a></div>

                     
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% endfor %}

{% include 'store/footer.html' %}
{% endblock %}
