
{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

<div class="Single-product-location home2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="index.html" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong>{{product.name}}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- single product details start -->
<div class="single-product-details">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="single-product-img tab-content">
          <div
            class="single-pro-main-image tab-pane active"
            id="pro-large-img-1"
          >
            <a href="#"
              ><img
                class="optima_zoom"
                src="{{product.imageURL}}"
                data-zoom-image="{{product.imageURL}}" alt="{{product.title}}"
            /></a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="single-product-details">
          <a href="#" class="product-name">{{product.title}}</a>
          <!-- <div class="list-product-info">
            <div class="price-rating">
              <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <a href="#" class="review">1 Review(s)</a>
                <a href="#" class="add-review">Add Your Review</a>
              </div>
            </div>
          </div> -->
          <!-- <div class="avalable">
            <p>Availability:<span> In stock</span></p>
          </div> -->
          <div class="item-price">
            <h3>Price: </h3>
            <span>रु {{product.price}}</span>
          </div>
          <div class="single-product-info">
            <p>
             {{product.description}}
            </p>
          </div>
          <!-- <div class="action">
            <ul class="add-to-links">
              <li>
                <a href="#">
                  <i class="fa fa-heart"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-refresh"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div> -->
          <div class="cart-item d-inline">

            <!-- <label>Price: </label>
            <div class="price-box">
              <span class="cart-btn">$170</span>
            </div> -->
        
            <div class="single-cart">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                Add To Cart
              </button>

              <!-- <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a></div>  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- single product details end -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <img src="{{product.imageURL}}" alt="">
          <br>         
           <div class="text-center">
            <h3>{{product.name}}</h3>
             <a href="{% url 'cart_add' product.id %}" class="btn btn-danger">Add to cart</a></div>  
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'store/footer.html' %}
{% endblock %}
