{% load static %}

<!-- testimonial area start -->
<div class="testimonial-area">
  <div class="container">
    <div class="row">
      <div class="testimonial-slider">
        <div class="single-testimonial">
          <div class="spech">
            <a href="#"
              >“ Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore magna
              aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
              exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
              commodo consequat ”</a
            >
          </div>
          <div class="avater">
            <img src="{% static 'store/img/testimonial/2.jpg' %}" alt="" />
          </div>
          <div class="post-by">
            <span>Hridoy Roy</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial area end -->
