{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>For ordering in our store. You will receive a confirmation email shortly!</strong></p>
    <hr>
   
    <p class="lead">
        <a href="{% url 'shop' %}"><button type="button" class="btn btn-danger mr-0">Continue Shopping</button></a>
    </p>
</div>

<style>
    .jumbotron{
        margin-top: 20px;
    }
</style>




{% include 'store/footer.html' %}
{% endblock %}