
{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
{% include 'store/header.html' %}
{% if request.session.cart|length < 1 %}
<div class="container-fluid mt-100" max-height="500">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Wishlist</h2>
                </div>
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4> <a href="{% url 'shop' %}" class="btn btn-danger cart-btn-transform" margin-bottom="50" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <style>
    .card-body .empty-cart-cls .btn{
      margin-bottom: 50px;
    } 
    </style>
  {% else %}


<!-- wishlist area start -->
<div class="wishlist-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="location">
          <ul>
            <li>
              <a href="{% url 'home' %}" title="go to homepage">Home<span>/</span></a>
            </li>
            <li><strong> wishlist </strong></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-3">
        <div class="product-sidebar">
          <div class="sidebar-title">
            <h2>Shopping Options</h2>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Category</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                <li><a href="#">Dresses (4)</a></li>
                <li><a href="#">shoes (6)</a></li>
                <li><a href="#">Handbags (1)</a></li>
                <li><a href="#">Clothing (3)</a></li>
              </ul>
            </div>
          </div>
          <div class="single-sidebar">
            <div class="single-sidebar-title">
              <h3>Color</h3>
            </div>
            <div class="single-sidebar-content">
              <ul>
                <li><a href="#">Black (2)</a></li>
                <li><a href="#">Blue (2)</a></li>
                <li><a href="#">Green (4)</a></li>
                <li><a href="#">Grey (2)</a></li>
                <li><a href="#">Red (2)</a></li>
                <li><a href="#">White (2)</a></li>
              </ul>
            </div>
          </div>
         
        </div>
      </div>


      <div class="col-sm-9">
        <div class="wishlist-banner">
          <a href="#">
            <img src="img/checkout/checkout_banner.jpg" alt="" />
          </a>
        </div>
        <div class="wishlist-heading">
          <h2>Wishlist</h2>
        </div>
        <div class="wishlist-content">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product Name</th>   
                  <th>Unit Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
             {% for wish in wishlist %}
                <tr>
                  <td>
                    <a href="#" class="text-center"
                      ><img src="{{wish.product.imageURL}}" alt=""  width='200' height='150'/>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'single_product' wish.product.id %}">{{wish.product.name}}</a>
                  </td>
                 
                  <td class="unit-price">${{wish.product.price}}</td>
                  <td>
                    <div class="wishlist-actions">
                      {{ wish.product.id }}
                      <a
                        href = "{% url 'wishlist_delete' wish.product.id %}"
                        type="button"
                        data-toggle="tooltip"
                        title="Remove"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </td>
                </tr>
             {% endfor %}
              </tbody>
            </table>
          </div>
          <button type="submit" value="Continue" class="check-button">
            Continue
          </button>
        </div>
      </div>
    </div>






  </div>
</div>
<!-- wishlist area end -->
{% endif %}
{% include 'store/footer.html' %}
{% endblock %}
